

/*Main-----------------------------------*/

/*html {*/
    /*scroll-behavior: smooth;*/
/*}*/
.block_title{
    color: #444444;
    font-weight: 600;
    text-transform: uppercase;
}
html {
    scroll-behavior: smooth;
}
.anchor{
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

/*Navbar-----------------------------------*/

header, .bg-dark{
    background-color: #1a1a1a !important;
}
.navbar-brand>span{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    margin-left: 6px;
}
.navbar-brand>img{
    height: 40px;
}
.nav-link{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 26px!important;
}
.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
}
.navbar-dark .navbar-nav .active>.nav-link{
    color: #ec3337;
    border-bottom: 1px solid #ec3337;
}
.navbar-dark.navbar-nav.active>.nav-link ~ .nav-item.active{
    border-bottom: 1px solid #ec3337;
}


/*welcome block-----------------------------------*/

.welcome-block{
    background-color: #e76a73;
    margin-top: 50px;
}
.welcome-block{
    color: #ffffff;
}
.welcome-block>.container>h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 56px;
    text-shadow: 0 5px 10px #af2424;
}


/*skills block-----------------------------------*/

.skills{
    background-color: #f5f5f5;
    color: #a4a4a4;
}
.skill_block{
    margin: 20px 0;
    display: inline-block;
}
.skill_card{
    background-color: #fff;
    padding: 20px;
}
.skill_card:hover .block_title{
    color: #ec3337 !important;
}
.skill_card:hover .skill_icon{
    background-color: #ec3337;
}
.skill_card:hover .skill_icon>span{
    color: #ffffff;
}

.img-hover{
    display: none;
    visibility: hidden;
}
.skill_icon{
    margin-bottom: 10px;
    display: table;
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
}
.skill_icon>span{
    display: table-cell;
    vertical-align: middle;
    color: #777777;
}

/*portfolio block-----------------------------------*/

.portfolio{
    background-color: #fff;
}
.card{
    border: 1px solid #a4a4a4;
    border-radius: 0;
    margin-bottom: 30px;
}
.card:hover .goto_button{
    background-color: #ec3337;
}
.card:hover .goto_button>a{
    color: #ffffff;
}
.card-img-top{
    border-radius: 0;
    border-bottom: 1px solid #a4a4a4;
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card-body{
    background-color: #f5f5f5;
    color: #444444;
    position: relative;
    height: 160px;
}
.card-title{
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}
.goto_button{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translatex(-50%);
    height: 40px;
    width: 40px;
    background-color: #d5d5d5;
    display: table;
    border-radius: 20px;
}
.goto_button>a{
    display: table-cell;
    vertical-align: middle;
    color: #444444;
}

/*portfolio block-----------------------------------*/

.footer{
    background-color: #f5f5f5;
}
.mcolor{
    color: #ec3337;
}

.modal-dialog{
    border: 1px solid #ec3337;
    border-radius: 7px;
    margin-bottom: 30px;
}

.modal-content{
    padding: 20px;
}

#email_message{
    width: 100%;
    height: 130px;
}
